<p>Hello <%= @resource.email %>!</p>

<p>Visit this link to set a new password for yout BulletinBoard Account : </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-dark" %></p>

<p>For Additional Help or Information, email us at xxxxx@gmail.com</p>
